// app global css in SCSS form
* {
  font-family: 'Space Grotesk', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;

}

body {
  background: url('../assets/back.jpg') center;
  background-size: cover;
}

@media only screen and (min-width: 0) {
  h1 {
    color: #fff;
    font-feature-settings: 'clig' off, 'liga' off;

    /* Heading (XL) */
    font-family: Space Grotesk;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem;
    letter-spacing: -2.5px;
  }

  h2 {
    color: #fff;
    font-feature-settings: 'clig' off, 'liga' off;
    /* Heading (L) */
    font-family: Space Grotesk;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px; /* 116.667% */
    letter-spacing: -1.5px;

  }

  h3 {
    color: #fff;
    font-family: Space Grotesk;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */

  }

  h4 {
    color: #fff;
    font-family: Space Grotesk;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */

  }

  p {
    color: #D9D9D9;
    font-feature-settings: 'clig' off, 'liga' off;

    /* Body */
    font-family: Space Grotesk;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 155.556% */

  }

}
@media only screen and (min-width: 768px) {}
@media only screen and (min-width: 1024px) {

}





.main-padding {
  padding: 0 16px !important;
}

